@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
 background-color: #1F1F1F;
 width: 100%;
 z-index: 99;
 position: fixed;
}

.container{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    max-width: 1300px;
    /* background-color: yellow; */
}

.logo_text{
       text-shadow: 0px 10px 8px rgba(0,0,0,0.97);
    font-family: 'Times New Roman', Times, serif;

      /* font-family: "Roboto", sans-serif; */
    text-decoration: none;
    font-size: 33px;
    letter-spacing: 8px;
    font-weight: 1000;
    color: #59C3F5;
    /* background-color: red; */
      text-transform: uppercase;
      padding: 20px 0px;
}

.navbar{
    display: flex;
    gap: 10px;
}
/* .ancher{
       color: white;
    font-size: 20px;
    text-decoration: none;
} */

.navbar > nav > a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 15px;
    font-weight: 400;
}   

.navbar > nav > a:hover{
    color: #1F1F1F;
    background-color: white;
}


.hero{
    min-height: 630px;
    /* background-color: red; */
    background-image: url("./imgs/beach.jpg");
    background-size:cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    /* padding: 10px; */
}

.overlay{
    background-color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.7;
}
.hero-special{
    text-transform: capitalize;
    
}

.hero-heading{
          font-family: "Roboto", sans-serif;
    font-size: 100px;
    color: #fff;
 text-shadow: 0px 10px 8px rgba(0,0,0,0.97);
 z-index: 1;
}

.hero-subtext{
    font-size: 30px;
    color: #59C3F5;
    letter-spacing: 8px;
    padding: 20px;
    text-shadow: 0px 10px 8px rgba(0,0,0,0.97);
    z-index: 1;
}


.about{
    min-height: 600px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 80px 100px;
}

.about_content{
    background-color: #fff;
    padding: 40px;
    height: 550px;
    border-radius: 20px;
        box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.47);

    /* min-height: inherit; */
}

.about-left{
    width: 49%;
    height:100%;
    /* background-color: yellow; */
    float: left;
    padding: 10px;
    /* display: inline-block; */
}
.profile_img{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    float: left;
}

.intro{
    padding: 30px 0px;
    width: 360px;
    float: right;
}

.intro > ul{
    list-style: none;
    line-height: 1.2;
}

.intro > ul > li{
    font-size: 20px;
}

.intro > ul > li > strong{
    margin-right: 10px;
}



.skills{
    clear: both;
    padding: 20px 10px;
}

.skills h3{
    font-size: 26px;
    text-transform: uppercase;
}

.skills > ul{
    margin-top: 5px;
    list-style: none;
    line-height: 1.7;
    font-size: 16px;
}


.about-right{
    width: 49%;
    height: fit-content;
    height: 100%;
    /* background-color: green; */
    float: right;
    padding: 30px;
    /* display: inline-block; */
}


.about-right h3{
    font-size: 36px;
    margin: 5px 0px 30px 0px;
}

.about-right p{
    font-size: 16px;
    line-height: 1.4;
    
}


/* ======= Services Section ====== */
#services{
    width: 100%;
    padding: 0px 40px;
    background-color: #F5F5F5;
}
#services .section-heading h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 6px;
}
#services .section-heading p{
    text-align: center;
    font-size: 16px;
}

#services .section-body{
    background-color:#F5F5F5;
    margin: 10px auto;
    max-width: 1200px;
    justify-content: center;
    min-height: 600px;
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#services .section-body .card{
    background-color:#8fd1ef;
    padding: 15px;
    min-height: 270px;
    width: 300px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

#services .section-body .card .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border: 10px solid blue;
    font-size: 30px;
    width: 100px;
    height: 90px;
    border-radius: 50%;
    color: black;
    transition: .3s all ease;
}
#services .section-body .card .icon:hover{
    background-color:blue;
    border: 10px solid white;
    color: white;
}


#services .section-body .card .card-heading{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#services .section-body .card .card-body{
    font-size: 16px;
    text-align: center;
}





/* ======= Services Section ====== */



/* ===== Counter Section ===== */
#counter_section{
    width: 100%;
    background-color: #4A9EFC;
    min-height: 400px;
}

.counter_container{
    margin: 0px auto;
    width: 1200px;
    min-height: 400px;
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
}
.counter_child{
    /* background-color: white; */
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.counter_child .icon{
    font-size: 26px;
    border: 10px solid #CDE1F8;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CDE1F8;
}

.counter_child :nth-child(2), .counter_child :nth-child(3){
    font-size: 26px;
    font-weight: bold;
    color: #CDE1F8;
}


/* ===== Counter Section ===== */


/* ===== Portfolio Section ==== */
#portfolio_sec{
    min-height: 800px;
    background-color: #F5F5F5;
    padding: 60px 30px;
}

.port_heading{
    padding: 10px;
}

.port_heading h2{
    text-align: center;
    font-size: 36px;
    /* text-transform: uppercase; */
    font-weight: 800px;
    letter-spacing: 1px;
}
.port_heading p{
    text-align: center;
    font-size: 18px;
    letter-spacing: 3px;
    margin-top: 10px;
}

#portfolio_sec .container{
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px 40px;
}

.port_box{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
-webkit-box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
-moz-box-shadow: 0px 0px 61px 1px rgba(0,0,0,0.48);
transition: All .7s ease;
}

.port_box:hover{
    transform: scale(1.1);
}

.port_box img{
    max-height: 250px;
    width: 350px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.port_box p{
    font-size: 18px;
    padding: 6px 10px 20px;
}

/* ===== Portfolio Section ==== */


/* ==== Profile Section ==== */
.profile{
    min-height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #4A9EFC;
}

.profile .profile_image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.profile h3{
    font-size: 30px;
    color: white;
}

.profile p{
    font-size: 16px;
    color: white;
    max-width: 700px;
    text-align: center;
}
/* ==== Profile Section ==== */


/* ==== Contact Us Form ==== */
#contact_us{
    margin-top: 100px;
    min-height: 600px;
    width: 100%;
    background-color: #4A9EFC;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact_us .contact_container{
    border-radius: 10px;
    min-height: 500px;
    background-color: white;
    width: 70%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.left_form{
    width: 49%;
    padding: 30px 0px;
}
.left_form form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
}

.form-control{
    padding: 10px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: gray;
}

.left_form .btn{
    width: 150px;
    padding: 10px;
    background-color: #4A9EFC;
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    align-self: center;
    cursor: pointer;
    transition: all .3s ease;
}
.left_form .btn:hover{
    background-color: #2072d0;
}




.left_form form h3{
    margin-bottom: 10px;
    font-size: 26px;
}


.right_about{   
    width: 49%;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.right_about h3{
    font-size: 26px;
}

.right_about p{
    font-size: 18px;
    line-height: 1.4;
}

.right_about .contacts{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right_about .contacts p i{
    color:blue;
    margin-right: 10px;
}

.right_about .contacts p{
    font-size: 18px;
}

/* ==== Contact Us Form ==== */
